{{define "yield"}} <!-- template to be rendered from within bootstrap layout -->
    To get in touch, please send an email to <a href="mailto:support@PhotoSTORM.com\">support@PhotoSTORM.com</a>

    {{template "footer"}}
{{end}}