<!-- The yield template is used to render a specific page in this case the contact login page. -->
{{define "yield"}}
    
    To get in touch, please send an email to <a href="mailto:support@PhotoSTORM.com\">support@PhotoSTORM.com</a>

{{end}}